:root {
    --color-blue-button: #1a73e8;
    --color-blue-button-hover: #174ea6;
    --border-radius-global: 8px;
}

html, body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: #1a73e8;
    display: inline-block;
    font-weight: 500;
    letter-spacing: .25px;
    outline: 0;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    padding: 0;
    text-align: left;
    border: 0;
    text-decoration: none;
}

body {
    height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.container {
    overflow: hidden;
    width: 450px;
    min-height: 500px;
    border-radius: var(--border-radius-global);
    border: 1px solid #dadce0;
    /* box-shadow: 0 3px 10px rgba(0, 0, 0, .25); */
}

.container .header {
    height: 100%;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.container h1, .container h4 {
    color: #202124;
    margin: 0;
}

.container .header h1.title {
    font-weight: normal;
    font-size: 1.8rem;
}

.container .header h4.subtitle {
    font-weight: normal;
    font-size: 1rem;
    margin: 5px 0 0;
}

@media all and (max-width: 601px) {
    .container {
        border-radius: 0;
        min-height: 100vh;
        border: none;
    }
    .container .header {
        height: 100%;
        padding: 30px 20px 20px 20px;
        text-align: left;
    }
    .container .header h1.title {
        font-size: 2rem;
    }
    .container .header h4.subtitle {
        margin: 10px 0 0;
    }
}

/* @media all and (max-width: 450px) {

    .container .header {
        height: 100%;
        padding: 10px;
        text-align: left;
    }
} */

input {
    box-shadow: none;
    outline: none;
    resize: none;
    border: none;
    -webkit-appearance: none;
    background-color: transparent;
}

input[type=email], input[type=password] {
    width: 100%;
    color: #202124;
    font-size: 17px;
    height: 28px;
    margin: 1px 1px 0 1px;
    padding: 13px 15px;
    border-radius: var(--border-radius-global);
}

input[type=email]:focus, input[type=password]:focus {
    margin: 1px 2px 0 2px;
    padding: 12px 14px;
}

.input {
    display: -webkit-box;
    display: flex;
    margin: 15px auto auto;
    width: 80%;
    border-radius: var(--border-radius-global);
    background-color: transparent;
    overflow: hidden;
    border: 1px solid #dadce0;
    /* transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.input.focus {
    border: 2px var(--color-blue-button) solid;
}

.tips {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 80%;
    margin: 15px auto auto;
}

.tips p {
    color: #202124;
    display: inline-block;
    font-weight: 300;
    letter-spacing: .25px;
    outline: 0;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    padding: 0;
    text-align: left;
}

.action {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: auto auto;
    width: 80%;
}

.action button {
    border: none;
    outline: none;
    min-width: 64px;
    height: 36px;
    margin: 6px 0;
    padding: 0 24px 0 24px;
    font-size: .875rem;
    font-weight: 500;
    color: #fff;
    background-color: var(--color-blue-button);
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.action button:hover {
    box-shadow: 0 1px 2px 0 var(--gm-fillbutton-keyshadow-color, rgba(60, 64, 67, 0.3)), 0 1px 3px 1px var(--gm-fillbutton-ambientshadow-color, rgba(60, 64, 67, 0.15));
    background-color: var(--color-blue-button-hover);
}

.action button.secondary {
    box-shadow: none;
    color: var(--color-blue-button);
    padding: 0 8px 0 8px;
    background-color: transparent;
    float: right;
}

.action button.secondary:hover {
    background-color: rgb(246, 250, 254);
    color: var(--color-blue-button-hover);
}

form#sign-form {
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    margin-top: 48px;
    -webkit-animation: .3s fade-in ease-in-out forwards;
    animation: .3s fade-in ease-in-out forwards;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

@media all and (max-width: 601px) {
    .input, .tips, .action {
        width: 100%;
    }
    .action {
        -webkit-box-pack: start;
        justify-content: start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .action button {
        height: 48px;
    }
    form#sign-form {
        opacity: 1;
        margin-top: auto;
        -webkit-animation: none;
        animation: none;
    }
}

span.swift {
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: .8rem;
    -webkit-animation: .3s swift-up ease-in-out forwards;
    animation: .3s swift-up ease-in-out forwards;
}

span.swift::before {
    display: block;
    height: 100%;
}

span.swift i {
    font-style: normal;
    position: relative;
    top: 2.2rem;
    -webkit-animation: .5s swift-up ease-in-out forwards;
    animation: .5s swift-up ease-in-out forwards;
    -webkit-animation-delay: calc(var(--swift-index, 0) * .1s);
    animation-delay: calc(var(--swift-index, 0) * .1s);
}

@media all and (max-width: 601px) {
    span.swift, span.swift::before, span.swift i {
        top: auto;
        left: auto;
    }
}

@-webkit-keyframes swift-up {
    to {
        top: 0rem;
    }
}

@keyframes swift-up {
    to {
        top: 0rem;
    }
}

@-webkit-keyframes swift-left {
    to {
        left: 0rem;
    }
}

@keyframes swift-left {
    to {
        left: 0rem;
    }
}

@-webkit-keyframes fade-in {
    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

.blank {
    width: 100%;
    height: 41px;
}